
<div id="pad">

<div class="row">
<div class="large-2 small-4 columns">
	
	</br>
	<a href="#video/{{ id }}/videoplay">
	<img src="{{ iconURL }}" width="300px"/>
	</a>
</div>


 <div class="large-10 small-8 columns">	
	<div id= "data">
		<a href="#video/{{ id }}/videoplay">
		<header><h3><b>Title: {{ title }}</b></h3></header></a></br></br>
		<b>Project:</b> {{ project }}</br></br>
		<b>Topic:</b> {{ topic }} </br></br>
		<b>Location:</b> {{ location }}</br></br>
		<b>Date:</b> {{ date }} </br></br>
		<b>Language:</b> {{ language }}</br></br>
		<b>Director:</b> {{ director }}</br></br>
		<b>Summary:</b> {{{ summary }}}</br></br>
	</div>
</div>

</div>

</div>