<div id="pad">

<div class="videoItem">

	<div class="row">
		<div class="small-2 columns">
			<a href="#video/{{ id }}/videoplay"><img src="{{ iconURL }}" width="100px"/></a></br></br>
			
		</div>

		<div class="small-10 columns">

			<h3><a href="#video/{{ id }}/videoplay" style="color: #000000">{{ title }}</h3></a>
		    Name: <a href="#video/{{ id }}/videoplay" style="color: #006400">{{ title }}</a></br></br>
		    <a href="#video/{{ id }}/info"><span class="[success alert secondary] [round radius] label"><b>[ Video Info ]</b></span></a>&nbsp;&nbsp;&nbsp;
		    <a href="#video/{{ id }}/layers"><span class="[success alert secondary] [round radius] label"><b>[ Transcript ]</b></span></a>
			<hr>
		</div>
</div>

</div>