    *{
        margin: 0px;
        padding: 0px;   
    }
    header{
        display: block;
    }
    h3{
        font: 20px bold Tahoma;
    }
    
    #data{
        margin: 20px auto;
        text-align: left;
    }
    #signinDiv
    {
        border: 1px solid black;
        width: 500px;
        height: 250px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
    }
    img{
        border:1px solid #;
        border-radius: 15px;
        box-shadow: gray 8px 8px 8px;
    }
    #pad{
        margin-top: 20px;
        text-align: left;
    }
    body{

        font: Tahoma;
        text-align: center;

    }
    
.home-icon{
    color: rgb(240, 65, 36); 
    font-size: 2em;
}

.top-bar input, .top-bar .button {
    font-size: 0.875rem;
    position: relative;
    top: 4px;